

html {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: #0b0b7e;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #630d6c;
    text-shadow: 3px 3px 1px black;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing:1px;
}

body {
    width: 690px;
    margin: 50px 50px 50px 50px; /* clockwise starting at top */
    background-color: #a779e0;
    padding: 20px 20px 20px 20px;
    border: 5px solid black;
}

/*img {*/
/*   display: block;*/
/*    margin: auto;*/
/*    !*float: left;*!*/
/*}*/

/*.column {*/
/*    float:left;*/
/*    width:48%;*/
/*    padding:5px;*/
/*}*/

.row::after {
    content: "";
    clear: both;
    displa:table;
}

.row {
    display: flex;
}

.column {
    flex:50%;
    padding: 5px;
}